<div class="container mt-4">
  <div class="row">
    <div class="col">
      <%= render 'shared/sidebar' %>
    </div>
    <div class="col-7">
      <h3><%= link_to 'Главная', dashboard_path, class: 'nav-link' %></h3>
      <div class="mb-3">
        <%= render 'shared/tweet_form' %>
      </div>
      <div id='tweets'>
        <%= render partial: 'tweets/tweet', collection: @tweets, as: :tweet_presenter %>
      </div>
    </div>
    <div class="col"></div>
  </div>
</div>
