<div class="tweet hover d-flex px-3">
  <div class="flex-shrink-0 pt-3">
    <%= image_tag current_user.avatar, size: 48, class: 'rounded-circle' if current_user.avatar.present? %>
  </div>
  <div class="flex-grow-1 ms-3 pb-3">
    <% form_submit_path ||= tweets_path %>
    <%= form_with model: Tweet.new, url: form_submit_path, data: { controller: 'tweet-form' } do |f| %>
      <div class="mt-3">
        <%= f.text_area :body, placeholder: 'Напишите что-нибудь здесь', rows: 3, class: 'form-control tweet-input' %>
      </div>
      <div class="mt-3 text-end">
        <% btn_text ||= 'Добавить' %>
        <%= f.submit btn_text, class: 'btn btn-tw rounded-pill' %>
      </div>
    <% end %>
  </div>
</div>
