<h1>Главная страница</h1>

<%= link_to_unless_current 'Регистрация', new_user_registration_path, class: 'btn btn-primary' %>
<%= link_to_unless_current 'Войти', new_user_session_path, class: 'btn btn-outline-primary' %>

