.tweet {
  -moz-transition: all .1ms ease-in;
  -o-transition: all .1s ease-in;
  -webkit-transition: all .1s ease-in;
  transition: all .1s ease-in;

  &:hover {
    background-color: $gray-100;
    cursor: pointer;
  }
}

.action-links {
  a {
    &.views, &.replies, &.bookmark, &.retweets {
      &:hover {
        color: $twitter-blue !important;
      }
    }
    &.likes {
      &:hover {
        color: $red-500 !important;
      }
    }
  }
}